<app-card-display title="Servicios" [addButton]="true" (edit)="form()">

    <div display-table style="margin:-1rem; margin-bottom:0">
        <div style="max-height:200px" class="overflow-auto" *ngIf="rows.length else noActivities">
            <table class="table table-striped align-middle table-sm ">         

                <tbody>
                    <tr class="pointer" *ngFor="let data of rows; let i = index;"
                        (click)="display(data.item,data.type,i)">
                        <td [ngSwitch]="data.type">
                            <div *ngSwitchCase="'operadorActivity'" class="d-flex align-items-center">
                                <i class="bi bi-briefcase me-2 ms-3 h5 mb-0"></i>
    
                                {{data.item | show:data.type:'operator_name'}}
    
                            </div>
                            <div *ngSwitchCase="'guiadoActivity'" class="d-flex align-items-center">
                                <i class="bi bi-chat-dots me-2 ms-3 h5 mb-0"></i>
                                <div>
                                    {{data.item | show:data.type:'full_name'}}
    
                                </div>
                            </div>
                            <div *ngSwitchCase="'choferActivity'" class="d-flex align-items-center">
                                <i class="bi bi-speedometer me-2 ms-3 h5 mb-0"></i>
                                <div>
                                    {{data.item | show:data.type:'full_name'}}
    
                                </div>
                            </div>
                           
    
                        </td>
                        <td [ngSwitch]="data.type">
    
                            <div *ngSwitchCase="'operadorActivity'" class="d-flex align-items-center">
                                Operador
                            </div>
                            <div *ngSwitchCase="'guiadoActivity'" class="d-flex align-items-center">
                                Guia
                            </div>
                            <div *ngSwitchCase="'choferActivity'" class="d-flex align-items-center">
    
                                Chofer
                            </div>
                           
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</app-card-display>





<ng-template #noActivities>
    <small class="mt-3 text-start text-secondary d-flex align-items-center ms-3">
        <i class="bi bi-exclamation-diamond h4 me-2 mb-0"></i> <em> No hay servicios registrados en esta salida</em>
    </small>

</ng-template>
