<app-table [config]="tableConfig" (buttonClick)="form()">

    <ng-template let-data="data" #empresas>
        <tr (click)="display(data,false,'empresa')" class="pointer">
            <td>{{data | show:'empresa':'nombre'}}</td>
            <td>{{data | show:'empresa':'documento'}} </td>
            <td>
                {{data | show:'empresa':'direccion'}} 
                <div>
                    <small class="text-secondary"><i class="bi bi-telephone me-2"></i> {{data | show:'empresa':'telefonos'}}</small><br>
                    <small class="text-secondary"><i class="bi bi-envelope me-2"></i> {{data | show:'empresa':'emails'}} </small>
                </div>            
            </td>            
        </tr>
    </ng-template>

    <ng-template let-data="data" #trabajadores>
        <tr (click)="display(data,false,'trabajador')" class="pointer">
            <td>
                {{data | show:'trabajador':'nombre_completo'}} 
                <div>
                    <small class="text-secondary"><i class="bi bi-telephone me-2"></i> {{data | show:'trabajador':'telefonos'}}</small><br>
                    <small class="text-secondary"><i class="bi bi-envelope me-2"></i> {{data | show:'trabajador':'emails'}} </small>
                </div>           
            </td>
            <td>{{data | show:'trabajador':'documento'}}</td>
            <td>{{data | show:'trabajador':'tipo_nombre'}} <small><em>({{data | show:'trabajador':'regimen_nombre'}} ) </em></small></td>
                    
        </tr>
    </ng-template>

    <ng-template let-data="data" #tours>
        <tr (click)="display(data,false,'tour')" class="pointer">
            <td>{{data | show:'tour':'nombre'}} </td>
            <td>{{data | show:'tour':'destino'}} </td>
            <td>{{data | show:'tour':'inicio'}} - {{data | show:'tour':'fin'}} </td>
         </tr>
    </ng-template>

    <ng-template let-data="data" #hoteles>
        <tr (click)="display(data,false,'hotel')" class="pointer">
            <td>
                {{data | show:'hotel':'nombre'}} 
                
            
            </td>
            <td>
                {{data | show:'hotel':'tipo_nombre'}} 
               
            
            </td>
            <td>
                {{data | show:'hotel':'direccion'}} 
                <div>
                    <small class="text-secondary"><i class="bi bi-telephone me-2"></i> {{data | show:'hotel':'telefonos'}}</small><br>
                    <small class="text-secondary"><i class="bi bi-envelope me-2"></i> {{data | show:'hotel':'emails'}} </small>
                </div>
            </td>
          
            <td>{{data | show:'hotel':'propietario_nombre'}} </td>
        </tr>
    </ng-template>

</app-table>
