<div class="d-flex flex-column align-items-stretch mb-3 ">
    <div class="input-group ">
        <ng-container *ngIf="!dateHidden">
            <span class="input-group-text bg-light pointer btnDate" (click)="calendarOpen=!calendarOpen; timeOpen=false"><i class="bi bi-calendar"></i></span>
        </ng-container>
        
        <input class="form-control bg-white text-center" [disabled]="true" [value]="date_time_string || null" >
    
        <ng-container *ngIf="!timeHidden">
            <span class="input-group-text bg-light pointer" (click)="timeOpen=!timeOpen; calendarOpen=false;" ><i class="bi bi-clock"></i></span>
        </ng-container>
       
        
    </div>
    <div class="calendar-container position-relative" >
        <div class="picker-container bg-light py-3 shadow"  *ngIf="calendarOpen" [ngClass]="{pickerContainerOpen:timeOpen}">
            <app-date-picker [date]="value" (newDate)="changeDate($event);calendarOpen=false"></app-date-picker>
         </div>
        <div class="picker-container bg-light shadow" *ngIf="timeOpen" [ngClass]="{pickerContainerOpen:timeOpen}">
            <app-time-picker [time]="time" (newTime)="changeTime($event);timeOpen=false"></app-time-picker>           
        </div>
    </div>
</div>




