<div class="d-flex flex-column align-items-stretch mb-3 ">
    <!-- <div class="input-group ">
        <ng-container *ngIf="!dateHidden">
            <span class="input-group-text bg-light pointer btnDate" (click)="calendarOpen=!calendarOpen; timeOpen=false"><i class="bi bi-calendar"></i></span>
        </ng-container>
        
        <input class="form-control bg-white text-center" [disabled]="true" [value]="date_time_string || null" >
    
        <ng-container *ngIf="!timeHidden">
            <span class="input-group-text bg-light pointer" (click)="timeOpen=!timeOpen; calendarOpen=false;" ><i class="bi bi-clock"></i></span>
        </ng-container>
       
        
    </div> -->
    <div class="d-flex w-100">
        <button *ngIf="!dateHidden" class="btn btn-sm btn-outline-secondary border-0"  (click)="calendarOpen=!calendarOpen; timeOpen=false"><i class="bi bi-calendar fs-5"></i></button>
        <div class="form-floating w-100">
          <input type="text" placeholder="{{title}}" disabled  class="form-control bg-transparent" [disabled]="true" [value]="date_time_string || null">
          <label>{{title}}</label>   
        </div>
        <button *ngIf="!timeHidden" class="btn btn-sm btn-outline-secondary border-0"  (click)="timeOpen=!timeOpen; calendarOpen=false;"><i class="bi bi-clock fs-5"></i></button>
    </div> 
    <div class="calendar-container position-relative" >
        <div class="picker-container bg-light py-3 shadow"  *ngIf="calendarOpen" [ngClass]="{pickerContainerOpen:timeOpen}">
            <app-date-picker [date]="value" (newDate)="changeDate($event);calendarOpen=false"></app-date-picker>
         </div>
        <div class="picker-container bg-light shadow" *ngIf="timeOpen" [ngClass]="{pickerContainerOpen:timeOpen}">
            <app-time-picker [time]="time" (newTime)="changeTime($event);timeOpen=false"></app-time-picker>           
        </div>
    </div>
</div>
 




