<div class="p-4">
    <app-card-display title="Cliente" [editButton]="true" (edit)="edit(1)">
        <li app-data-item-display *ngFor="let data of dataDisplay" [icon]="data.icon" [title]="data.title" >
            {{data.value}}        
        </li>
    </app-card-display>
    <app-card-display title="Paquete" [editButton]="true" (edit)="edit(2)">
        <li app-data-item-display *ngFor="let data of dataPaquete" [icon]="data.icon" [title]="data.title" >
            {{data.value}}        
        </li>
        <app-activities-list display-table type="reserva" [data]="item" >          
        </app-activities-list>      
    </app-card-display>
    <br>   
    
    <footer>
        <div class="text-left">
            <button class="btn btn-outline-secondary" (click)="delete()">eliminar</button>
        </div>
    </footer>    
</div>
