<div [ngSwitch]="type" class="items-list card p-3" style="font-size: 90%;">
    <app-table *ngSwitchCase="'empresa'" [config]="tableConfig" (buttonClick)="form()">
        <ng-template let-data="data" #empresas>
            <tr (click)="display(data)" class="pointer">
                <td >{{data | show:'empresa':'nombre'}} </td>
                <td >{{data | show:'empresa':'documento'}} </td>
                <td >
                    <div><i class="bi bi-telephone me-2"></i> {{data | show:'empresa':'lista_telefonos'}}</div>
                    <div><i class="bi bi-envelope me-2"></i> {{data | show:'empresa':'lista_emails'}} </div>
                    <div><i class="bi bi-map me-2"></i> {{data | show:'empresa':'direccion'}} </div>                    
                </td>               
            </tr>
        </ng-template>        
    </app-table>

    <app-table *ngSwitchCase="'tour'" [config]="tableConfig" (buttonClick)="form()">
        <ng-template let-data="data" #tours>
            <tr (click)="display(data,false,'tour')" class="pointer">
                <td>{{data | show:'tour':'nombre'}} </td>
                <td>{{data | show:'tour':'destino'}} </td>
                <td>{{data | show:'tour':'horario_completo'}} </td>
             </tr>
        </ng-template>      
    </app-table>

    <app-table *ngSwitchCase="'hotel'" [config]="tableConfig" (buttonClick)="form()">
        <ng-template let-data="data" #hoteles>
            <tr (click)="display(data,false,'hotel')" class="pointer">
                <td>{{data | show:'hotel':'nombre'}} </td>
                <td>{{data | show:'hotel':'tipo_categoria'}} </td>
                <td>{{data | show:'hotel':'direccion'}} </td>
                <td> 
                    <div><i class="bi bi-telephone me-2"></i> {{data | show:'hotel':'lista_telefonos'}}</div>
                    <div><i class="bi bi-envelope me-2"></i> {{data | show:'hotel':'lista_emails'}} </div>  
                </td>
                <td>{{data | show:'hotel':'propietario_nombre'}} </td>
            </tr>
        </ng-template>   
    </app-table>
    <app-table *ngSwitchCase="'trabajador'" [config]="tableConfig" (buttonClick)="form()">
        <ng-template let-data="data" #trabajadores>
            <tr (click)="display(data,false,'trabajador')" class="pointer">
                <td>
                    {{data | show:'trabajador':'nombre_completo'}} 
                    <div>
                        <small class="text-secondary"><i class="bi bi-telephone me-2"></i> {{data | show:'trabajador':'lista_telefonos'}}</small><br>
                        <small class="text-secondary"><i class="bi bi-envelope me-2"></i> {{data | show:'trabajador':'lista_emails'}} </small>
                    </div>           
                </td>
                <td>{{data | show:'trabajador':'documento'}} </td>
                <td>{{data | show:'trabajador':'tipo'}} <small><em>({{data | show:'trabajador':'regimen'}} ) </em></small></td>
                <td> 
                    
                </td>         
            </tr>
        </ng-template>
    </app-table>
</div>

