<div class="p-4">
    <app-card-display title="Datos Tour" [editButton]="true" [data]="dataDisplay" (edit)="edit()"></app-card-display>
    <app-card-display title="Reservas Asociadas" >
        <em>FALTA</em>
    </app-card-display>
    <app-card-display title="Salidas Asociadas" >
        <em>FALTA</em>
    </app-card-display>
    <footer>
        <hr>
    <br>
    <div class="text-left">
        <button class="btn btn-outline-secondary" (click)="delete()">eliminar</button>
    </div>
    </footer>
</div>