<ng-container
   [ngTemplateOutlet]="template"
        [ngTemplateOutletContext]="{control:this, name: names, value:values, title:title, options:options}"></ng-container> 

        
      
<!-- PLANTILLAS -->

<ng-template let-name="name" let-value="value" let-title="title" #text>
    
    <div class="form-floating ">
        <input type="text" class="form-control"  placeholder="{{title}}" [value]="value[0] || null" [name]="name[0]"  (input)="update($any($event.target).value);">
        <label>{{title}}</label>
    </div>
   
</ng-template>

<ng-template let-name="name" let-value="value" let-title="title" #number>
    <div class="form-floating">
        <input type="number" class="form-control"  placeholder="{{title}}" [value]="value[0] || null" [name]="name[0]"  (input)="update($any($event.target).value);">
        <label>{{title}}</label>
    </div>    
</ng-template>

<ng-template let-name="name" let-value="value" let-title="title"   let-options="options"  #select>
    <label>{{title}}</label>
    <select class="form-select"  (change)="update($any($event.target).value)">
        <option class="text-center">---  selecciona un valor  ---</option>
        <option *ngFor="let option of options"  [value]="option.value || option.name" [selected]="(option.value || option.name) == value[0]" class="text-center">{{option.name}}</option>       
    </select>
</ng-template>

<ng-template let-name="name" let-value="value" let-title="title"   let-options="options"  #array>
      <app-string-array [value]="value[0]" [title]="title" (inputChange)="update($event)"></app-string-array>
</ng-template>

<ng-template let-name="name" let-value="value" let-title="title" let-options="options"  #time>
<!--     <label>{{title}}</label> -->
    <app-date-time-picker [value]="value[0]" [title]="title" (timeChange)="update($event)" [dateHidden]="true"></app-date-time-picker>
</ng-template>

<ng-template let-name="name" let-value="value" let-title="title" let-options="options"  #itemPicker>
   <!--  <label>{{title}}</label> -->
    <app-item-picker [value]="value[0]" [title]="title" [options]="options" (inputChange)="update($event)" [type]="type" [item]="item"></app-item-picker>
</ng-template>

<ng-template let-name="name" let-value="value" let-title="title" let-options="options"  #dateTime>
    <!-- <label>{{title}}</label> -->
    <app-date-time-picker [value]="value[0]" [time]="value[1]" [title]="title" (inputChange)="update($event)" (timeChange)="update($event,1)"></app-date-time-picker>
</ng-template>
<ng-template let-name="name" let-value="value" let-title="title" let-options="options"  #paxList>
    <!-- <label>{{title}}</label> -->
    <app-passengers-list [value]="value[0]" [title]="title" (inputChange)="update($event)"></app-passengers-list>
</ng-template>
<ng-template let-name="name" let-value="value" let-title="title" let-options="options" #activitiesList>

    <app-activities-list-form-admin 
        [value]="value[0]" [title]="title" [title]="title" [activitiesGroupItem]="item" [type]="type" (inputChange)="update($event)">
    </app-activities-list-form-admin>
</ng-template>
<ng-template let-name="name" let-value="value" let-title="title" let-options="options" #roomsList>
    <!-- <label>{{title}}</label> -->
    <app-rooms-list [value]="value[0]" (inputChange)="update($event)" [title]="title"></app-rooms-list>
</ng-template>
<ng-template let-name="name" let-value="value" let-title="title" let-options="options" #paxList>
    <app-pax-list-form-admin [value]="value[0]" (inputChange)="update($event)" [item]="item"></app-pax-list-form-admin>
</ng-template>
<ng-template let-name="name" let-value="value" let-title="title" let-options="options" #textArea>
    <label>{{title}}</label>
    <textarea class="form-control"  [value]="value[0] || null" [name]="name[0]"  (input)="update($any($event.target).value)"></textarea>
</ng-template>




<!-- VALIDACION  -->

<div  class="invalid-feedback d-block" *ngIf="field.touched && !field.valid"><!--  pongo aqui la validaciones porque sino me las cuenta como plantilla supongo que por ng if -->
    {{ item | errors:type:field.name }}
</div>