<div class="header-canvas d-flex align-items-stretch justify-content-between bg-primary">

    <div class="text-light px-3 me-3 d-flex justify-content-center align-items-center border-end border-2">
        <i class="fs-2 {{config?.icon}}"></i>
    </div>

    <div class="text-light d-flex justify-content-center align-items-center">{{config?.title}}</div> 

    <div class="mx-3 d-flex justify-content-center align-items-center">
        
        <i class="{{icon}} text-light" (click)="close()" style="cursor:pointer"></i>       
    </div> 

</div>
