.card-options, .slider-login{

    max-width: 26rem;
}

.card-options{

    max-width: 26rem;
}

.inner{

    width: 300%;
    transition: margin-left 0.5s;
}

.slide{

    width: 33.333333333333333%;
}

.slide2{

    margin-left: -100%;

}

.slide3{

    margin-left: -200%;

}

.img-bkg:before{

    background-image: url("../../../../assets/img/background.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0; left: 0;
    filter: saturate(30%);
}
