.card-options, .slider-login{

    max-width: 26rem;
}

.card-options{

    max-width: 26rem;
}

.inner{

    width: 300%;
    transition: margin-left 0.5s;
}

.slide{

    width: 33.333333333333333%;
}

.slide2{

    margin-left: -100%;

}

.slide3{

    margin-left: -200%;

}
