<div class="p-4">
    <app-card-display title="Salida" [editButton]="true" (edit)="edit(1)">
        <li app-data-item-display *ngFor="let data of dataDisplay" [icon]="data.icon" [title]="data.title" >
            {{data.value}}        
        </li> 
      
    </app-card-display>
    <app-card-display  title="Pasajeros">
       <app-pax-list display-table [passengers]="passengers" mode="display"></app-pax-list>  
    </app-card-display>
    <app-card-display  title="Servicios">
        <app-activities-list display-table type="salida" [data]="item" mode="display"></app-activities-list>    
    </app-card-display>  
    
    <footer>
        <div class="text-end">
            <button class="btn btn-outline-secondary" (click)="delete()">eliminar</button>
        </div>
    </footer>    
</div>
