<div class="p-4">
    <app-card-display title="Salida" [editButton]="true" (edit)="edit(1)">
        <li app-data-item-display *ngFor="let data of dataDisplay" [icon]="data.icon" [title]="data.title" >
            {{data.value}}        
        </li> 
      
    </app-card-display>
    <app-salidas-passengers [(passengers)]="passengers" [salida]="item"></app-salidas-passengers>
    <app-salidas-activity-table [(activities)]="activities" [salida]="item"> </app-salidas-activity-table>  
    
    <footer>
        <div class="text-end">
            <button class="btn btn-outline-secondary" (click)="delete()">eliminar</button>
        </div>
    </footer>    
</div>
