

<main class="d-flex justify-content-center align-items-center scene">

    <div id="app-wrapper" class="cube" [ngClass]="{inLogin:isLogin}">
        <div id="app-active" class="cube-face face-front bg-light">
            <div id="app-main-content" class="d-flex flex-column flex-lg-row h-100 position-relative w-100 overflow-hidden" >

                <section id="app-menu" class="h-lg-100 position-relative"  style="z-index:99">     
                    <app-menu></app-menu>
                </section>                
    
                <section id="app-sections" class="h-100 w-100 overflow-auto position-relative">
    
                    <header class="app-section-header">
    
                        <app-header></app-header>
    
                    </header>                
    
                    <div class="app-section-content p-5 h-100 w-100" [@routerTransition]="getState(o)">
                        
                        <router-outlet #o="outlet"></router-outlet>
   
                    </div>
                    
                </section>            
    
            </div>            
            <app-canvas ></app-canvas>
        </div>
        <div id="app-login" class="cube-face face-right">
            <app-login></app-login>
        </div>
    </div>
       
</main>

