<div >
    <div class="d-flex justify-content-center">
        <select class="form-select border-end-0 rounded-0 text-center" (change)="hours=$any($event.target).value">
            <option selected value="''" [selected]="hours==''" ><small>HH</small> </option>
            <option *ngFor="let hour of hoursList" [value]="hour" [selected]="hours==hour">{{hour}}</option>        
        </select>
        <select class="form-select border-start-0 rounded-0 text-center" (change)="minutes=$any($event.target).value">
            <option value="''" [selected]="minutes==''" ><small>MM</small> </option>
            <option *ngFor="let minute of minutesList" [value]="minute" [selected]="minutes==minute">{{minute}}</option>        
        </select>
    </div>
    <div class="d-flex justify-content-between mt-2 px-2 pb-2" *ngIf="hours && minutes">
        <button class="btn btn-secondary btn-sm" (click)="reset()">Reset</button>
        <button class="btn btn-primary btn-sm" (click)="save()">Guardar</button>
    </div>
</div>
