<div class="p-4">
    <app-card-display (edit)="edit()" [title]="title" [editButton]="true"> 
        <li app-data-item-display icon="person-circle" title="Empresa">
            {{item | show:'operadorActivity':'operator_name'}} 
        </li>   
        <li app-data-item-display icon="map" title="direccion">{{item | show:'operadorActivity':'address'}}</li> 
        <li app-data-item-display icon="phone" title="telefonos">{{item | show:'operadorActivity':'phones_list'}}</li> 
        <li app-data-item-display icon="envelope" title="emails">{{item | show:'operadorActivity':'mails_list'}}</li> 
        <li app-data-item-display icon="chat-square-text" title="comentarios">{{(item | show:'operadorActivity':'comments') || '-'}}</li>        
    </app-card-display>
    
    <footer>
        <br>
        <div class="text-left">
            <button class="btn btn-outline-secondary" (click)="delete()">Eliminar servicio</button>
        </div>
    </footer>
</div>
