.app-menu-container {

    height: auto;
    height: 7rem;
    --menuHeight: 7rem;
}

.app-logo>i{

    font-size: 5rem;
    vertical-align: top;
    margin-bottom: -10px;
    font-weight: 300;
    padding: 0;
    margin-top: 0;
    line-height: 0.1rem;
}

.app-logo>h5{

    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 0;
    
}

.list-group-item.app-menu-item:hover, .list-group-item.app-menu-item.active{

    background-color: hsl(208deg 54% 41%) !important;
    cursor: pointer;
}

#hamburger-container{

    cursor: pointer;
}

.wrapper-menu-item {

    max-width: 10rem;
}

.wrapper-logo{

    z-index: 2;
    position: relative;
    overflow: hidden;
    min-height: 5rem

}

.app-menu-bar{

    position: absolute;
    top: -20rem;
    left:0;
    transition: top 0.5s;
    z-index: 1;
}

.app-menu-bar.menu-active{

    top: 7rem;  
}

@media (min-width: 992px) { 

    .app-menu-container {

        height: 100%;
        display: flex;
        flex-flow: column;
    }
    

    .wrapper-menu-item{

        max-width: 100%;
    }
    .app-menu-bar{

        position: static;
        height: 100%;
        display: flex;
        flex-flow: column;

    }
    #app-menu-sections{

        height: 100%;
    }
    
}