
<div class="p-4">
    <app-card-display title="Datos Empresa" [editButton]="true" [data]="dataDisplay" (edit)="edit()"></app-card-display>
    <app-card-display title="Pagos" [addButton]="true" >
        <em>FALTA</em>
    </app-card-display>
    <app-card-display title="Servicios Ofrecidos" >
        <em>FALTA</em>
    </app-card-display>
    <footer>
        <hr>
        <br>
        <div class="text-left">
            <button class="btn btn-outline-secondary" (click)="delete()">eliminar</button>
        </div>
    </footer>    
</div>
