
<div class="p-4">
    <app-card-display title="Empresa" [editButton]="true" (edit)="edit()">
        <li app-data-item-display *ngFor="let data of dataDisplay" [icon]="data.icon" [title]="data.title" >
            {{data.value}}        
        </li>
    </app-card-display>
    <!-- <app-card-display title="Pagos" [addButton]="true" >
        <em>FALTA</em>
    </app-card-display> -->
   <!--  <app-card-display title="Servicios Ofrecidos" >
        <em>FALTA</em>
    </app-card-display> -->
    <footer>

        <div class="text-left">
            <button class="btn btn-outline-secondary" (click)="delete()">eliminar</button>
        </div>
    </footer>    
</div>
