.canvas-blanket{

    z-index: 100;
    background-color: rgba(0, 0, 0, 0.521);
    opacity: 1;
    transition: opacity 1s;
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    left:0;
    overflow: hidden;
}


.canvas-blanket.canvas-hidden{
    opacity: 0;
    height: 0;
    width: 0;
}

aside{

    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    width: 40%;
    min-width: 22rem;
    max-width: 28rem;
    transition: right 0.5s;
    z-index:50;
}

aside.aside-hidden{

    right: -100%;
}

.pop-up{

    width: 100%;
    max-width: 50rem;
    max-height: 40rem;
    height: 100vh;
    z-index:150;
    transition: max-width 0.5s, max-height 0.5;
    overflow: hidden;
}

.pop-up.pop-up-hidden{

    max-width: 0;
    max-height: 0;
    
}

/*** SLIDER ***/

.slider{  position: relative; overflow: hidden;}

.slider-inner{

    position: absolute;
    display:flex;
    align-items: stretch;
    left:0;
    top:0;
    transition: left 0.5s;
}

.slide{

    overflow: auto;
}

/*** SIZES INNER ***/

.slider-inner.slides-3{
    
    width:300%;
}
.slider-inner.slides-4{
    
    width:400%;
}

/*** SIZES SLIDE  ***/

.slides-3>.slide{

    width:33.3333%;
}

.slides-4>.slide{
    width:25%;
    
}

/*** POSITION SLIDES  ***/

.slide1 {  left:0; }

.slide1.slide2{  left:-100%; }

.slide1.slide2.slide3{  left:-200%; }

.slide1.slide2.slide3.slide4{  left:-300%; }


