<div class="table-header table-header-sm">   
    <div class="header-table-buttons-container d-flex justify-content-between" *ngIf="mode!='display'" >

      Pasajeros <button class="btn btn-warning button-table btn-sm" (click)="open()" style="border-radius: 50%;"><i class="bi bi-plus h5"></i></button>    
    </div>  
</div>
<table  class="table table-striped align-middle table-sm " *ngIf="passengers.length else noPax">
    <thead>
        <tr>
            <th *ngFor="let column of ['Nombre','Agencia']; let i = index" > 
                <div class="d-flex justify-content-left align-items-stretch flex-wrap">
                    <span>{{column}}</span>
                </div>           
            </th>         
        </tr>
    </thead>
    <tbody>
        <tr  class="pointer" *ngFor="let data of passengers" (click)="open(data)">
            <td>{{data | show:'passenger':'full_name'}} <small class="text-secondary d-block">{{data | show:'passenger':'pax_list' }}</small> </td>
            <td> {{data | show:'passenger':'provider_name' }} </td>          
        </tr>       
    </tbody>
</table>
<ng-template #noPax>
    <small class="mt-3 text-start text-secondary d-flex align-items-center">
        <i class="bi bi-exclamation-diamond h4 me-2 mb-0"></i> <em> No hay pasajeros registrados en esta salida</em>
    </small>

</ng-template>
