

    <app-table [config]="tableConfig" (buttonClick)="form()">

        <ng-template let-data="data" #tourActivity>
            <tr (click)="display(data,'tourActivity')" class="pointer">
                <td> 
                    
                    {{ data | show:'tourActivity':'nombre_cliente' }} {{ data | show:'tourActivity':'apellidos_cliente' }}<br> 
                    <small class="text-secondary">
                        <i class="bi bi-people me-2"></i>{{ data | show:'tourActivity':'passengers_list' }}</small> <br>               
                
                </td>
                <td> 
                    {{ $any(data | show:'tourActivity':'date_start') | date:'dd-MM-yy' }} 
                </td>
                <td class="text-center">
                    <i class="bi bi-{{ (data | show:'tourActivity':'salida') ? 'check-circle-fill text-success':'exclamation-square-fill text-warning' }}" ></i>                 
                </td>
                <td>{{data | show:'tourActivity':'proveedor_cliente'}} </td>
            </tr>
        </ng-template>  

        <ng-template let-data="data" #passengers>
            <tr (click)="display(data,'passenger')" class="pointer">
                <td> 
                    
                    {{ data | show:'passenger':'full_name' }} <br>
                    <small class="text-secondary">
                        <i class="bi bi-people me-2"></i>{{ data | show:'passenger':'passengers_list' }}</small> <br>               
                
                </td>
                <td> 
                    {{ $any(data | show:'passenger':'date_start') | date:'dd-MM-yy' }} 
                </td>
                <td class="text-center">
                    <i class="bi bi-{{ (data | show:'passenger':'salida') ? 'check-circle-fill text-success':'exclamation-square-fill text-warning' }}" ></i>                 
                </td>
                <td>{{data | show:'passenger':'provider_name'}} </td>
            </tr>
        </ng-template>    

    </app-table>



