<app-table [config]="tableConfig" (buttonClick)="form(null, type + '-activity')" *ngIf="sections"></app-table>


<ng-template let-data="data" #tourActivity>
    <tr (click)="display(data,false,'tourActivity')" class="pointer">
        <td>{{data | show:'tourActivity':'tour_name'}} </td>
        <td>{{data | show:'tourActivity':'passengers_list'}} </td>
        <td>
            <i class="bi bi-chevron-right me-2"></i> {{ data | show:'tourActivity':'date_start'}}  <br> 
            <i class="bi bi-chevron-left me-2"></i> {{ data | show:'tourActivity':'date_end' }} 
        </td>          
    </tr>
</ng-template>

<ng-template let-data="data" #hotelActivity>
    <tr (click)="display(data,false,'hotelActivity')" class="pointer">
        <td>{{data | show:'hotelActivity':'hotel_name'}} </td>
        <td>{{data | show:'hotelActivity':'rooms_list'}} </td>
        <td>
            <i class="bi bi-chevron-right me-2"></i> {{ data | show:'hotelActivity':'date_start'}}  <br> 
            <i class="bi bi-chevron-left me-2"></i> {{ data | show:'hotelActivity':'date_end' }} 
        </td>          
    </tr>
</ng-template>