<div class="header-container w-100 d-flex flex-lg-column justify-content-between justify-content-lg-center align-items-center flex-wrap">
    <div class="section-title d-flex align-items-center p-0 me-2 mb-2">
        <div class="me-2 px-2 ci">
            <i class="fs-1 {{icon}}"></i>
        </div>
        <h4 class="text-uppercase pe-3 m-0">{{title}}</h4>
    </div>
    <div >
        <p class="m-0 p-0 nav-link pointer dropdown-toggle" (click)="open()"><small>{{dateString}}</small></p>
    </div>
</div>
